<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body>

<header>
    <%- include("partials/navbar.ejs") %>
</header>

<div class="main-container">

    <% if (locals.calendar) { %>
        <%- include("partials/calendar.ejs") %>
    <% } else { %>
        <% if (locals.processed) { %>
            <%- include("partials/editform.ejs") %>
        <% } else { %>
            <%- include("partials/remindmeform.ejs") %>
        <% } %>
    <% } %>

</div>

<%- include("partials/footer.ejs") %>

</body>
</html>